$footerHeight: 80px;
$searchBarHeight: 60px;
$offWhite: #faebd7;
$grey: #666;
$offDark: #111;
$midDark: #222;
$lightDark: #333;
$highlight: #BABA45;
$highlightSecondary: red;
$toggleLayerPanelButtonWidth: 40px;
$leftPanelsWidth: 500px;
$fontNormal: 'Lato', sans-serif;
$fontFancy: 'MedievalSharp', cursive;
