@import "~leaflet/dist/leaflet.css";

/** Variables **/
$footerHeight: 80px;
$searchBarHeight: 60px;
$offWhite: #faebd7;
$offDark: #111;
$midDark: #222;
$lightDark: #333;
$toggleLayerPanelButtonWidth: 40px;
$leftPanelsWidth: 500px;


/** Page Layout **/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: $lightDark;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

a {
  color: #BABA45;
}

#mapid {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#loading-container {
  display: none;
}

#app-container {
  display: block;
}

/** Info Window **/

#info-title {
  font-family: 'MedievalSharp', cursive;
  height: $footerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: $offWhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  h1 {
    max-width: 100%;
    padding: 20px;
    text-overflow: ellipsis;
  }
}

#info-content {
  padding: 0 8% 24px 8%;
  margin: 0 auto;
  background: $lightDark;
  overflow-y: scroll;
  letter-spacing: .8;
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 300;
}

#info-container {
  position: absolute;
  overflow-y: hidden;
  bottom: 0;
  left: 24px;
  z-index: 1000;
  background: $midDark;
  width: $leftPanelsWidth;
  height: 40vh;
  color: $offWhite;
  transition: all 0.4s ease-in-out;
  transform: translateY(calc(100% - #{$footerHeight}));
}

@media (max-width: 600px) {
  #info-container  {
    left: 0;
    width: 100%;
    height: 80vh;
  }
}

#info-container.info-active {
  transform: translateY(0);
}

#info-body {
  margin-top: $footerHeight;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 80%;
}

#info-footer {
  font-size: 0.4rem;
  font-family: 'Lato', sans-serif;
  padding: 8%;
}

#blog-link {
  font-size: 0.8rem;
  font-weight: bold;
}

/** Search Component **/

#search-container {
  position: absolute;
  top: 24px;
  left: 24px;
  background: transparent;
  z-index: 1000;
  color: $offWhite;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  input[type=text] {
    width: $searchBarHeight;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}

  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
      width: $leftPanelsWidth;
      outline: none;
      cursor: text;
  }
}

#search-results {
  margin-top: 4px;
  border-radius: 4px;
  background: $midDark;

  div {
    padding: 16px;
    cursor: pointer;
  }

  div:hover {
    background: $lightDark;
  }
}

#search-bar, #search-input {
  height: $searchBarHeight;
}

#search-input {
  background-color: $midDark;
  color: $offWhite;
  border: 3px $lightDark solid;
  border-radius: 4px;
  font-size: 1rem;
  padding: 4px;
  background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_search_white_18px.svg');
  background-position: 20px 17px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding-left: $searchBarHeight;
}

@media (max-width: 600px) {
  #search-container {
    width: 100%;
    top: 0;
    left: 0;

    #search-input {
      border-radius: 0;
    }

    #search-results {
      margin-top: 0;
      border-radius: 0;
    }
  }
}

/** Layer Panel **/

#layer-toggle {
  display: none;
}

#layer-panel {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 12px;
  background: $midDark;
  z-index: 1000;
  color: $offWhite;

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
  }
}

#layer-buttons {
  text-transform: uppercase;

  :last-child {
    border-bottom: 1px solid $offWhite;
  }
}

@media (max-width: 600px) {
  #layer-panel {
    display: inline-flex;
    align-items: center;
    top: 25%; //calc(#{$searchBarHeight} + 20px);
    right: 0;
    // top: 0;
    transform: translateX(calc(100% - #{$toggleLayerPanelButtonWidth}));
    transition: all 0.3s ease-in-out;
  }

  #layer-panel.layer-panel-active {
    transform: translateX(0);
  }

  #layer-toggle {
    cursor: pointer;
    display: block;
    width: $toggleLayerPanelButtonWidth;
    transform: translateY(120%) rotate(-90deg);
    padding: 10px;
    margin-left: -20px;
    letter-spacing: 1rem;

    text-transform: uppercase;
  }
}

.layer-button {
  border-top: 1px solid $offWhite;
  padding: 6px;
  cursor: pointer;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

.toggle-active {
  color: red;
}

/** Leaflet Style Overrides **/

.leaflet-container {
  background: $lightDark;
}

.leaflet-popup {
  bottom: 0 !important;
}

.leaflet-popup-content {
  user-select: none;
  cursor: pointer;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: $lightDark;
  color: $offWhite;
  text-align: center;
}

.leaflet-control-zoom {
  border: none !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background: $lightDark !important;
  color: $offWhite !important;
  border: none;
}

@media (max-width: 600px) {
  .leaflet-bottom {
    bottom: calc(#{$footerHeight} + 10px)
  }
}

.leaflet-control-attribution {
  display: none;
}