@import "~leaflet/dist/leaflet.css";

/** Variables **/
$footerHeight: 100px;


/** Page Layout **/

body {
  margin: 0;
  font-family: 'MedievalSharp', cursive;
  background: #333;
  overflow: hidden;
}

#mapid {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

/** Info Window **/

#info-title {
  height: $footerHeight;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    max-width: 100%;
    padding: 20px;
    text-overflow: ellipsis;
  }
}

#info-content {
  font-family: 'Lato', sans-serif;
}

.info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #333;
  width: 100%;
  height: 80vh;
  color: white;
  transition: transform 0.3s;
  transform: translateY(calc(100% - #{$footerHeight}))
}

.info-active {
  transform: translateY(0);
}

/** Layer Panel **/

#layer-panel{
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  background: #222;
  z-index: 1000;
  color: white;

  h3 {
    text-align: center;
    text-transform: uppercase;
  }
}

#layer-buttons {
  text-transform: uppercase;

  :last-child {
    border-bottom: 1px solid white;
  }
}

.layer-button {
  border-top: 1px solid white;
  padding: 6px;
  cursor: pointer;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

.toggle-active {
  color: red;
}

/** Leaflet Style Overrides **/

.leaflet-container {
  background: #333;
}

.leaflet-popup {
  bottom: 0 !important;
}

.leaflet-popup-content {
  user-select: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  font-family: 'MedievalSharp', cursive;
  background: #333;
  color: white;
  text-align: center;
}

.leaflet-control-zoom {
  border: none !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background: #333 !important;
  color: white !important;
  border: none;
}
