<div ref="container" class="info-container">
  <div ref="title" class="info-title">
    <h1>Nothing Selected</h1>
  </div>
  <div class="info-body">
    <div class="info-content-container">
      <div ref="content" class="info-content"></div>
    </div>
    <div class="info-footer">
      <div class="blog-link">
        <p>To learn how to build this app, <a href="https://blog.patricktriest.com/game-of-thrones-map-node-postgres-redis/" target="_blank" ref="noopener"> check out the tutorial.</a></p>
      </div>
      <p>
        <a href="https://github.com/triestpa/Atlas-Of-Thrones" target="_blank" rel="noopener">Source Code</a> |
        <a href="https://github.com/triestpa/Atlas-Of-Thrones/blob/master/attribution.md" target="_blank" rel="noopener">Attribution</a> |
        <a href="https://github.com/triestpa/Atlas-Of-Thrones/blob/master/LICENSE" target="_blank" rel="noopener">License
      </p>
    </div>
  </div>
</div>