<div id="info-container">
  <div id="info-title" onclick="ctrl.toggleInfo()">
    <h1>Nothing Selected</h1>
  </div>
  <div id="info-body">
    <div id="info-content-container">
      <div id="info-content"></div>
    </div>
    <div id="info-footer">
      <div id="blog-link">
        <p>To learn how to build this app, <a href="https://blog.patricktriest.com/game-of-thrones-map-node-postgres-redis/" target="_blank" ref="noopener"> check out the tutorial.</a></p>
      </div>
      <p>
        <a href="https://github.com/triestpa/Atlas-Of-Thrones" target="_blank" rel="noopener">Source Code</a> |
        <a href="https://github.com/triestpa/Atlas-Of-Thrones/blob/master/attribution.md" target="_blank" rel="noopener">Attribution</a> |
        <a href="https://github.com/triestpa/Atlas-Of-Thrones/blob/master/LICENSE" target="_blank" rel="noopener">License
      </p>
    </div>
  </div>
</div>